.btn {
  padding: 20px 32px;

  line-height: 24px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.btn-primary {
  background-color: #444cfc;
  color: #ffff;
  background-image: url("../images/shapes-btn.svg");
  background-repeat: no-repeat;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.6;
}
.btn-text {
}
.btn-image {
}
